footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  min-width: 320px;
  max-width: 1440px;
  background-color: $footer-color;
  color: #d9cece;
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 10;
  line-height: 10px;
  text-align: center;
  margin: 0px auto;
  padding: 5px 0;
  justify-content: center;
  @media (min-width: 600px) {
    font-size: 12px;
  }
}
.social__icon--footer {
  width: 30px !important;
  height: 30px !important;
}
