.hamburger {
  max-width: 90%;
  max-height: 90%;
  text-align: center;

  margin: auto auto;
  background-color: $black;
  &-line {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
.luxbar-item {
  justify-items: center;
  width: 200px;
  text-align: center;
  justify-content: center;

  @media (max-width: 720px) {
    margin: 10px auto;
  }
}
